<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ APP_NAME }} // Self-Check</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- FontAweome CDN Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <style>
        a{
        text-decoration: None;
        }
    </style>
    <!-- start Quiz button -->
        <div class="start_btn"><button>Начать Тест</button></div>
    
        <!-- Info Box -->
        <div class="info_box">
            <div class="info-title"><span>Правила теста</span></div>
            <div class="info-list">
                <div class="info">1. После того как вы выберете ответ, его нельзя будет отменить.</div>
                <div class="info">2. После оканчение теста нвжмите на кнопку выйти</div>
                <div class="info">3. Вы получите баллы за правильные ответы</div>
                <div class="info">4. Сколько баллов вы набрали можно будет посмотреть когда вы закончите тест</div>

            </div>
            <div class="buttons">
                <button class="quit"><a href="{% url 'home' %}">Выйти</a></button>
                <button class="restart">Далее</button>
            </div>
        </div>
    
        <!-- Quiz Box -->
        <div class="quiz_box">
            <header>
                <div class="title">{{ APP_NAME }}</div>
            </header>
            <section>
                <div class="que_text">
                    <!-- Here I've inserted question from JavaScript -->
                </div>
                <div class="option_list">
                    <!-- Here I've inserted options from JavaScript -->
                    {% for v in variant %}{% if v.question_id == question.first.id %}
                        <div class="option"><span>1</span></div>
                    {% endif %} {% endfor %}
                </div>
            </section>
    
            <!-- footer of Quiz Box -->
            <footer>
                <div class="total_que">
                    <!-- Here I've inserted Question Count Number from JavaScript -->
                </div>
                <button class="next_btn">Cледуюший вопрос</button>
            </footer>
        </div>
    
        <!-- Result Box -->
        <div class="result_box">
            <div class="icon">
                <i class="fas fa-crown"></i>
            </div>
            <div class="complete_text">Тест закончен</div>
            <div class="score_text">
                <!-- Here I've inserted Score Result from JavaScript -->
            </div>
            <div class="buttons">
                <form method="post" id="results-id">
                    {% csrf_token %}
                    <button class="restart">Replay Quiz</button>
                    <div class="result_for_backend"></div>
                    <button type="submit" class="quit">Выйти</button>
                </form>
            </div>
        </div>

    <!-- Inside this JavaScript file I've coded all Quiz Codes -->
    <script src="{% static 'script.js' %}"></script>
    <script>
        function showQuetions(index){
    const que_text = document.querySelector(".que_text");

    {#//creating a new span and div tag for question and option and passing the value using array index#}
    {#let que_tag = '<span>'+ questions[index].numb + ". " + questions[index].question +'</span>';#}
    let que_tag = '<span>' + questions[index].question +'</span>';
    {#let option_tag = {% for q in question %}{% for v in variant %}{% if v.question_id == q.id %}#}
    {#    '<div class="option"><span>'+ questions[index].options[{{ forloop.counter0 }}] +'</span></div>'{% endif %}{% endfor %}{% endfor %};#}
    que_text.innerHTML = que_tag; //adding new span tag inside que_tag
    {#option_list.innerHTML = option_tag; //adding new div tag inside option_tag#}

    const option = option_list.querySelectorAll(".option");
    {#option.innerHTML = "Test"#}
    var myClasses = document.getElementsByClassName("option");

    for (var i = 0; i < myClasses.length; i++) {
      myClasses[i].innerHTML = questions[index].options[i];
      }
    // set onclick attribute to all available options
    for(i=0; i < option.length; i++){
        option[i].setAttribute("onclick", "optionSelected(this)");
    }
    const allOptions = option_list.children.length; //getting all option items

    for(i=0; i < allOptions; i++){
        option_list.children[i].classList.remove("disabled"); //once user select an option then disabled all options
    }
}
    </script>
    <script> 
    let questions = [
        {% for q in question %}
            {
            numb: {{ q.id }},
            question: "{{ q.text }}",
            {% for a in variant %}
                {% if a.question_id == q.id and a.is_answer %}
                    answer: "{{ a.text }}",
                {% endif %}
            {% endfor %}
            options: [
                {% for v in variant %}
                    {% if v.question_id == q.id %}
                        "{{ v.text }}",
                    {% endif %}
                {% endfor %}
            ]
          },
        {% endfor %}
  // you can uncomment the below codes and make duplicate as more as you want to add question
  // but remember you need to give the numb value serialize like 1,2,3,5,6,7,8,9.....

  //   {
  //   numb: 6,
  //   question: "Your Question is Here",
  //   answer: "Correct answer of the question is here",
  //   options: [
  //     "Option 1",
  //     "option 2",
  //     "option 3",
  //     "option 4"
  //   ]
  // },
];
    </script>
</body>
</html>